@charset "UTF-8";
/*! destyle.css v2.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  outline: 0;
  border-radius: 0;
  text-align: inherit;
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type="checkbox"] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
       appearance: checkbox;
}

[type="radio"] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
       appearance: radio;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}

button[disabled],
[type="button"][disabled],
[type="reset"][disabled],
[type="submit"][disabled] {
  cursor: default;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Remove arrow in IE10 & IE11
 */
select::-ms-expand {
  display: none;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type="search"] {
  outline-offset: -2px;
  /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable] {
  outline: none;
}

/* Table */
/* ============================================ */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

/* Misc */
/* ============================================ */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/*================================
本体設定
=================================*/
body {
  color: #3B3B3B;
  line-height: 1;
  font-family: Hiragino Kaku Gothic Pro, 'Noto Serif JP', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  vertical-align: bottom;
  max-width: 100%;
}

.header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 32px 30px 43px 27px;
}

.header-logo {
  color: #707070;
  font-size: 36px;
  padding: 15px 74px 15px 70px;
  border: 1px solid #707070;
  letter-spacing: -1px;
}

.header-logo:hover {
  opacity: 0.2;
}

.header-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-list a {
  margin-left: 25px;
  color: #707070;
}

.header-list a:hover {
  opacity: 0.2;
}

.unshown {
  display: none;
}

.mv {
  margin-bottom: 100px;
}

.mv-inner {
  background: url(../img/mv-photo.jpg) no-repeat center;
  background-size: cover;
  color: #ffffff;
  height: 44vw;
  padding: 13.5% 7.5% 0 0;
}

.mv-inner dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.mv-ttl {
  font-size: 63px;
  font-weight: 300;
  padding-bottom: 28px;
  letter-spacing: 2.2px;
}

.mv-txt {
  font-weight: 300;
  font-size: 21px;
  line-height: 1.7;
  letter-spacing: 0.2px;
}

.intro {
  padding: 0 5%;
  margin-bottom: 205px;
}

.intro-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
}

.intro-list li {
  margin-right: 42px;
}

.intro-list li:last-child {
  margin-right: 0;
}

.intro-photo {
  margin-bottom: 15px;
}

.intro-photo-sp {
  display: none;
}

.intro-txt {
  font-size: 15px;
  line-height: 1.8;
  letter-spacing: 0.3px;
}

.intro-txt-sp {
  display: none;
}

.develop01 {
  padding: 0 45px 0 34px;
}

.develop01-list {
  max-width: 1314px;
  margin: 0 auto;
}

.develop01-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 150px;
}

.develop01-list img {
  width: 100%;
}

.develop01-photo {
  margin-right: 42px;
}

.develop01-ttl {
  font-size: 26px;
  font-weight: 300;
  margin-bottom: 33px;
  margin-top: 11px;
  margin-left: 50px;
  text-align: center;
}

.develop01-txt {
  font-size: 14px;
  letter-spacing: 0.3px;
  line-height: 2.5;
}

.develop01-sp {
  display: none;
}

.develop02 {
  padding: 0 48px 0 46px;
  margin-bottom: 208px;
}

.develop02-list {
  max-width: 1314px;
  margin: 0 auto;
}

.develop02-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin-bottom: 150px;
}

.develop02-ttl {
  font-size: 26px;
  font-weight: 300;
  margin-bottom: 35px;
  margin-top: 11px;
  margin-left: 20px;
  text-align: center;
}

.develop02-txt {
  font-size: 14px;
  letter-spacing: 0.3px;
  line-height: 2.5;
}

.develop02-sp {
  display: none;
}

.news {
  text-align: center;
  margin-bottom: 170px;
}

.news-inner {
  max-width: 873px;
  margin: 0 auto;
}

.news-ttl {
  font-family: Arial;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 70px;
}

.news-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
  padding-bottom: 21px;
  border-bottom: 1px solid #8B8B8B;
}

.news-list li:first-child {
  padding-top: 0;
}

.news-list li:hover {
  opacity: 0.5;
  cursor: pointer;
}

.news-txt {
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: justify;
}

.news-txt-sp {
  display: none;
}

.news-date {
  white-space: nowrap;
  color: #8B8B8B;
  margin-right: 57px;
}

.banner {
  padding: 0px 35px;
  margin-bottom: 206px;
}

.banner-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.banner-list-sp {
  display: none;
}

.footertop {
  background-color: #EBEBEB;
}

.footertop-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 78px 0px 83px 0px;
  max-width: 880px;
  margin: 0 auto;
}

.footertop-top-sp {
  display: none;
}

.footertop-btm-sp {
  display: none;
}

.footertop-left-ttl {
  font-size: 18px;
  margin-bottom: 28px;
}

.footertop-left-ttl:hover {
  opacity: 0.5;
}

.footertop-left-address {
  font-size: 13px;
  margin-bottom: 10px;
  line-height: 2;
}

.footertop-left-tel {
  font-size: 13px;
}

.footertop-right-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 60px;
}

.footertop-right-list li {
  font-size: 15px;
  margin-right: 32px;
}

.footertop-right-list li:last-child {
  margin-right: 0;
}

.footertop-right-list li:hover {
  opacity: 0.5;
}

.footer {
  background-color: #6A6A6A;
  text-align: center;
}

.footer-inner {
  padding: 33px 0;
}

.footer-copyright {
  color: #ffffff;
  font-size: 12px;
}

/*================================
header レスポンシブ タブレット用
=================================*/
@media screen and (min-width: 761px) and (max-width: 1024px) {
  .header-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header-logo {
    margin-bottom: 20px;
  }
}

/*================================
header レスポンシブ スマホ用
=================================*/
@media screen and (max-width: 760px) {
  .header-inner {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 20px 18px 63px 20px;
  }
  .header-logo {
    font-size: 30px;
    padding: 15px 6px 15px 10px;
  }
  .header-list {
    display: block;
    margin-top: 30px;
    text-align: center;
  }
  .header-list a {
    display: block;
    margin-left: 0;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .header-list a:hover {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.05);
  }
  /*================================
（ハンバーガーメニュー部分）
=================================*/
  .hamburger {
    position: relative;
  }
  .unshown {
    display: none;
  }
  .open {
    display: inline-block;
    width: 30px;
    height: 22px;
    vertical-align: middle;
  }
  .open span, .open span::before {
    position: absolute;
    width: 27px;
    height: 3px;
    background: #2699FB;
    display: block;
    content: '';
    cursor: pointer;
  }
  .open span::after {
    position: absolute;
    width: 14px;
    height: 3px;
    background: #2699FB;
    display: block;
    content: '';
    cursor: pointer;
  }
  .open span::before {
    bottom: -8px;
  }
  .open span::after {
    bottom: -18px;
  }
  #close {
    display: none;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: 0;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }
  .content {
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 90%;
    max-width: 230px;
    height: 100%;
    background-color: #ffffff;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    -webkit-transform: translateX(-105%);
    transform: translateX(-105%);
  }
  .header-list {
    border: 1px solid #707070;
    text-align: left;
  }
  .header-list li {
    border-bottom: 1px solid #707070;
  }
  .header-list li:last-child {
    border-bottom: none;
  }
  .header-list a:hover {
    opacity: 0.2;
  }
  .header-list a {
    display: block;
    padding: 17px 0;
    padding-left: 30px;
  }
  #input:checked ~ #close {
    display: block;
    opacity: 0.5;
  }
  #input:checked ~ .content {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-box-shadow: 6px 0 25px rgba(0, 0, 0, 0.15);
            box-shadow: 6px 0 25px rgba(0, 0, 0, 0.15);
  }
}

/*================================
mv レスポンシブ タブレット用
=================================*/
@media screen and (min-width: 761px) and (max-width: 1024px) {
  .mv {
    margin-bottom: 40px;
  }
  .mv-inner {
    padding: 0;
    padding-top: 80px;
  }
  .mv-inner dl {
    display: block;
    text-align: center;
  }
  .mv-ttl {
    font-size: 48px;
    padding-bottom: 18px;
  }
  .mv-txt {
    font-size: 16px;
  }
}

/*================================
mv レスポンシブ スマホ用
=================================*/
@media screen and (max-width: 760px) {
  .mv {
    margin-bottom: 40px;
    text-align: center;
  }
  .mv-inner {
    background: url(../img/mv-photo-sp.jpg) no-repeat center;
    height: 283px;
    background-size: cover;
    padding: 131px 0px 0px 0;
  }
  .mv-inner dl {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .mv-ttl {
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 0px;
  }
  .mv-txt {
    display: none;
  }
}

/*================================
intro レスポンシブ タブレット用
=================================*/
@media screen and (min-width: 761px) and (max-width: 1200px) {
  .intro {
    padding: 0 5%;
    margin-bottom: 100px;
  }
  .intro-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .intro-list li:last-child {
    margin-right: 0;
  }
  .intro-txt {
    font-size: 11px;
    line-height: 1.8;
    letter-spacing: 0.3px;
  }
}

/*================================
intro レスポンシブ スマホ用
=================================*/
@media screen and (max-width: 760px) {
  .intro {
    padding: 0 27px;
    margin-bottom: 70px;
  }
  .intro-list {
    display: block;
  }
  .intro-list li {
    margin-right: 0px;
    margin-bottom: 60px;
  }
  .intro-list li:last-child {
    margin-bottom: 0;
  }
  .intro-photo {
    display: none;
  }
  .intro-photo-sp {
    display: block;
    margin-bottom: 15px;
  }
  .intro-photo-sp img {
    width: 100%;
  }
  .intro-txt {
    display: none;
  }
  .intro-txt-sp {
    display: block;
    font-size: 15px;
    line-height: 1.4;
    letter-spacing: 0px;
    text-align: center;
  }
}

/*================================
develop レスポンシブ タブレット用
=================================*/
@media screen and (min-width: 761px) and (max-width: 1024px) {
  .develop01 {
    padding: 0 5%;
  }
  .develop01-list li {
    margin-bottom: 100px;
  }
  .develop01-photo {
    margin-right: 22px;
  }
  .develop01-ttl {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 0px;
  }
  .develop01-txt {
    font-size: 10px;
    letter-spacing: 0px;
    line-height: 1.7;
  }
  .develop02 {
    padding: 0 5%;
    margin-bottom: 150px;
  }
  .develop02-list li {
    margin-bottom: 100px;
  }
  .develop02-ttl {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 0px;
  }
  .develop02-txt {
    font-size: 10px;
    letter-spacing: 0px;
    line-height: 1.7;
  }
}

/*================================
develop レスポンシブ スマホ用
=================================*/
@media screen and (max-width: 760px) {
  .develop01 {
    display: none;
  }
  .develop01-sp {
    display: block;
    margin-bottom: 60px;
    text-align: center;
  }
  .develop01-sp-ttl {
    font-size: 34px;
    font-weight: 300;
    margin-bottom: 23px;
  }
  .develop01-sp-photo {
    margin-bottom: 13px;
  }
  .develop01-sp-photo img {
    width: 100%;
  }
  .develop01-sp-txt {
    font-size: 14px;
    line-height: 2.5;
    display: inline-block;
    text-align: left;
    padding: 0px 20px;
  }
  .develop02 {
    display: none;
  }
  .develop02-sp {
    display: block;
    margin-bottom: 60px;
    text-align: center;
  }
  .develop02-sp-photo {
    margin-bottom: 13px;
  }
  .develop02-sp-photo img {
    width: 100%;
  }
  .develop02-sp-ttl {
    font-size: 34px;
    font-weight: 300;
    margin-bottom: 23px;
  }
  .develop02-sp-txt {
    font-size: 14px;
    line-height: 2.5;
    display: inline-block;
    text-align-last: left;
    padding: 0px 20px;
  }
}

/*================================
news レスポンシブ タブレット用
=================================*/
@media screen and (min-width: 761px) and (max-width: 1024px) {
  .news {
    padding: 0 5%;
    margin-bottom: 115px;
  }
  .news-ttl {
    margin-bottom: 50px;
  }
  .news-txt {
    font-size: 10px;
  }
}

/*================================
news レスポンシブ スマホ用
=================================*/
@media screen and (max-width: 760px) {
  .news {
    text-align: center;
    margin-bottom: 60px;
    padding: 0 19px;
  }
  .news-ttl {
    margin-bottom: 10px;
  }
  .news-list {
    display: none;
  }
  .news-list-sp li {
    display: inline-block;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #8B8B8B;
  }
  .news-list-sp a:hover {
    opacity: 0.2;
  }
  .news-list-sp a:first-child {
    padding-top: 0;
  }
  .news-txt-sp {
    display: block;
    font-size: 13px;
  }
  .news-date-sp {
    margin-right: 19px;
  }
}

/*================================
banner レスポンシブ タブレット用
=================================*/
@media screen and (min-width: 761px) and (max-width: 1024px) {
  .banner {
    padding: 0 5%;
    margin-bottom: 100px;
  }
  .banner-list li {
    margin-right: 20px;
  }
  .banner-list li:last-child {
    margin-right: 0;
  }
}

/*================================
banner レスポンシブ スマホ用
=================================*/
@media screen and (max-width: 760px) {
  .banner {
    padding: 0 19px;
    margin-bottom: 60px;
    text-align: center;
  }
  .banner-list {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .banner-list li {
    margin-right: 0px;
    margin-bottom: 20px;
  }
  .banner-list-sp {
    display: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .banner-list-sp li {
    margin-right: 0px;
    margin-bottom: 30px;
  }
}

/*================================
footertop レスポンシブ タブレット用
=================================*/
@media screen and (min-width: 761px) and (max-width: 1024px) {
  .footertop {
    padding: 0 5%;
  }
}

/*================================
footertop レスポンシブ スマホ用
=================================*/
@media screen and (max-width: 760px) {
  .footertop-inner {
    padding: 50px 0 47px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .footertop-left {
    display: none;
  }
  .footertop-right {
    display: none;
  }
  .footertop-top-sp {
    display: block;
    color: #707070;
    font-size: 15px;
    background-color: #fff;
    margin-bottom: 40px;
  }
  .footertop-top-sp-list {
    border: 1px solid #707070;
    text-align: left;
  }
  .footertop-top-sp-list li {
    border-bottom: 1px solid #707070;
  }
  .footertop-top-sp-list li:last-child {
    border-bottom: none;
  }
  .footertop-top-sp-list a:hover {
    opacity: 0.2;
  }
  .footertop-top-sp-list a {
    display: block;
    padding: 17px 0;
    padding-left: 30px;
  }
  .footertop-btm-sp {
    display: block;
    padding: 0 31px 0 17px;
  }
  .footertop-btm-sp-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footertop-btm-sp-ttl {
    margin-top: 15px;
    font-weight: 600;
    font-size: 18px;
  }
  .footertop-btm-sp-ttl:hover {
    opacity: 0.2;
  }
  .footertop-btm-sp-address {
    font-size: 13px;
    letter-spacing: 0px;
    line-height: 2;
    margin-bottom: 10px;
    margin-top: -6px;
  }
  .footertop-btm-sp-tel {
    font-size: 13px;
  }
}

/*================================
footer レスポンシブ スマホ用
=================================*/
@media screen and (max-width: 760px) {
  .footer {
    background-color: #6A6A6A;
    text-align: center;
  }
  .footer-inner {
    padding: 23px 0;
  }
  .footer-copyright {
    color: #ffffff;
    font-size: 12px;
  }
}
/*# sourceMappingURL=style.css.map */